@import "tailwindcss";

@theme {
  --color-brand-bg: #f4f4f0;
  --color-brand-blue: #2a3ffb;
  --color-brand-dark: #111111;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-dark);
  font-family: var(--font-sans);
}
